
@*<script data-is-table-statistic="true" type="text-template">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Text</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            {{#Tickets}}
            <tr>
                <td>{{CreationDate}}</td>
                <td>{{Name}}</td>
                <td>{{Text}}</td>
                <td>{{Status}}</td>
                <td>{{Priority}}</td>
            </tr>
            {{/Tickets}}
        </tbody>
    </table>
</script>*@

