@model Periodicals.ViewModels.PaymentViewModel
@{
    ViewBag.Title = "Оплата";
    Layout = "~/Views/Shared/_LayoutOther.cshtml";
}
<h2>Оплата</h2>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <H3>Оплата: @Model.Sum грн.</H3>
      <div class="form-horizontal">
       
        <hr />
       
        </div>
        <div class="form-group text-center">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Оплатить" class="btn btn-info " />
            </div>
        </div>

}
<div>
    @Html.ActionLink("Назад", "Index", "UserPublications", null, htmlAttributes: new { @class = "btn btn-default" })
</div>
